.attempt {
  padding: 16px;

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 8px;
  }
  
  &__hint {
  margin-top: 16px;
  padding: 12px;
  background: #fef9c3;
  border-radius: $radius;
}

  &__question {
    font-size: 14px;
    color: #555;
  }

  &__editor {
    margin-top: 20px;
  }

  &__run-btn {
    margin-top: 10px;
    padding: 8px 14px;
    background: $primary;
    color: white;
    border: none;
    border-radius: $radius;
    cursor: pointer;
  }

  &__error {
    margin-top: 10px;
    color: red;
  }

  &__result {
    margin-top: 20px;
    overflow-x: auto;
  }
}